build/
toolchain/
*.err
bx_enh_dbg.ini
.vscode/*.log
.sconsign.dblite
__pycache__/
*.o
image/root/bin/init
image/root/bin/init.elf
image/root/bin/init
image/root/bin/init
iso_root/boot/kernel.elf
*.elf
