build/
toolchain/
*.err
bx_enh_dbg.ini
.vscode/*.log
.sconsign.dblite
__pycache__/
*.o
image/root
image/root/bin/init
image/root/bin/init.elf
image/root/bin/init
image/root/bin/init
image/root/usr/share/X11/xkb/
iso_root/boot/kernel.elf
*.elf
src/libs/
src/linux-6.6/
src/sysroot/*
sysroot/*
src/compositor/third_party/
src/linux-6.6.tar.xz
iso_root/usr
